nx-link {
  margin: 16px;
  display: flex;
  place-items: center;
}

.spinner-outlet {
  height: 20px;
  display: flex;
  justify-content: flex-end;
}

.content {
  max-width: 1200px;
  margin: auto;
}

.cancel-error {
  margin-top: 16px;
}
