<nx-formfield>
  <input
    nxInput
    type="text"
    [ngModel]="query()"
    (ngModelChange)="query.set($event)"
  />
  <span nxFormfieldPrefix>
    <nx-icon name="search" size="s"></nx-icon>
  </span>
</nx-formfield>
<div class="scroll-container">
  <table nxTable class="nx-table--scrollable">
    <thead>
      <tr nxTableRow>
        <th nxHeaderCell>Vertragsnummer</th>
        <th nxHeaderCell>Vorname</th>
        <th nxHeaderCell>Nachname</th>
        <th nxHeaderCell>Geburtsdatum</th>
        <th nxHeaderCell>Vertragsbeginn</th>
        <th nxHeaderCell>Vertragsende</th>
        <th nxHeaderCell>Aktion</th>
      </tr>
    </thead>
    <tbody>
      @if (contracts?.length === 0) {
      <tr>
        <td colspan="7">Keine Verträge vorhanden.</td>
      </tr>
      } @for (contract of contracts; track contract.id) {
      <tr>
        <td nxTableCell>{{ contract.contractNumber }}</td>
        <td nxTableCell>{{ contract.person.firstname }}</td>
        <td nxTableCell>{{ contract.person.lastname }}</td>
        <td nxTableCell>{{ contract.person.dateOfBirth | date }}</td>
        <td nxTableCell>{{ contract.start | date }}</td>
        <td nxTableCell>{{ contract.end ? (contract.end | date) : '-' }}</td>
        <td nxTableCell>
          <nx-context-menu #menu>
            <button
              nxContextMenuItem
              type="button"
              [routerLink]="['/details', contract.id]"
            >
              Details anzeigen
            </button>
            <button
              nxContextMenuItem
              type="button"
              [routerLink]="['/transaktion', contract.id]"
            >
              Transaktion durchführen
            </button>
            <button
              nxContextMenuItem
              type="button"
              [routerLink]="['/transaktion', contract.id]"
              [queryParams]="aenderungNachnameQueryParams"
            >
              Nachname ändern
            </button>
            <button
              nxContextMenuItem
              type="button"
              [routerLink]="['/transaktion', contract.id]"
              [queryParams]="kuendigungQueryParams"
            >
              Kündigung
            </button>
          </nx-context-menu>
          <button
            nxIconButton="tertiary small"
            [nxContextMenuTriggerFor]="menu"
            aria-label="Open menu"
            type="button"
          >
            <nx-icon aria-hidden="true" name="ellipsis-h"></nx-icon>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
