<div class="two-col-grid">
  <nx-data-display label="Vertragsnummer">{{
    contract.contractNumber
  }}</nx-data-display>
  <nx-data-display label="Vertragsbeginn">{{
    contract.start | date
  }}</nx-data-display>
  <nx-data-display label="Vertragsende">{{
    contract.end ? (contract.end | date) : '-'
  }}</nx-data-display>
  <nx-data-display label="Vorname">{{
    contract.person.firstname
  }}</nx-data-display>
  <nx-data-display label="Nachname">{{
    contract.person.lastname
  }}</nx-data-display>
  <nx-data-display label="Geburtsdatum">{{
    contract.person.dateOfBirth | date
  }}</nx-data-display>
</div>
